*{
    margin: 0;
    padding: 0;
}
.container{
  background:rgba(162, 162, 158, 0.968) url(/images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:darken;
    
}
.banner-title {
     padding: 200px;
    
}
.title{
    margin-top: 30px;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 30px;
}
.banner-details{
    text-align: center;
    
    margin-top: 30px;
}
.dicription{
    font-size: 20px;
    color: red;
    
}
.btn{
    background-color: orange;
    color: white;
    padding: 10px;
    margin: auto;
}
.container2{
    width: 100%;
    height: 60vh;
    background-color: blueviolet;
    
}
.title2{
    font-size: 30px;
    color: azure;
    text-align: center;
    padding: 20px;
}
.description2{
    font-size: 20px;
    color:white;
    text-align: center;

}
.taka-donate{
    display: flex;
    margin-top: 20px;
   column-gap: 20px;
   justify-content: center;
}
.details1{
  width: 80px;
    
    
    background-color: aqua;
    border-radius: 5px;   
}
.details1 h3{
    color: red;
    padding: 20px;
}
.others-amount{
    margin-top: 30px;
    font-size: 20px;
    color: gray;
    text-align: center;
    margin-bottom: 30px;
}
.line{
    
    width: 300px;
    background-color: red;
    height: 2px;
    margin: auto;
}
.btn2{
    
    width: 100px;
    background-color: orange;
    color: white;
    padding: 10px;
    
}