*{
    margin: 0;
    padding: 0;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,200;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
}
.container{
  background:rgba(162, 162, 158, 0.968) url(/images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode:darken;
    
}
.banner-title {
     padding: 200px;
    
}
.title{
    margin-top: 30px;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 30px;
}
.banner-details{
    text-align: center;
    
    margin-top: 30px;
}
.dicription{
    font-size: 20px;
    color: red;
    
}
.btn{
    background-color: orange;
    color: white;
    padding: 10px;
    margin: auto;
}


.container2{
    width: 100%;
    height: 60vh;
    background-color: rgb(184, 177, 190);
    
}
.title2{
    font-size: 30px;
    color: azure;
    text-align: center;
    padding: 20px;
}
.description2{
    font-size: 20px;
    color:white;
    text-align: center;

}
.taka-donate{
    display: flex;
    margin-top: 20px;
   column-gap: 20px;
   justify-content: center;
}
.details1{
  width: 80px;
    
    
    background-color: aqua;
    border-radius: 5px;   
}
.details1 h3{
    color: red;
    padding: 20px;
}
.others-amount{
    margin-top: 30px;
    font-size: 20px;
    color: gray;
    text-align: center;
    margin-bottom: 30px;
}
.line{
    
    width: 300px;
    background-color: red;
    height: 2px;
    margin: auto;
}
.btn2{
    
    width: 100px;
    background-color: orange;
    color: white;
    padding: 10px;
    justify-content: center;
    margin-left: 500px;
    margin-top: 20px;
    
    
}
.title3{
    padding: 100px;
    text-align: center;
}
.title3 h1{
    font-size: 50px;
}
.description3{
    font-size: 20px;
  color: gray;
    text-align: center;

}
.donate-plan{
    display:flex;
    justify-content: center;
}
.plan1{
    width: 200px;
    height: 200px;
    background-color: rgb(247, 232, 232);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}
.plan2{
    width: 200px;
    height: 200px;
    background-color: rgb(240, 167, 167);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}
.plan3{
    width: 200px;
    height: 200px;
    background-color: rgb(177, 161, 219);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}
.contaainer3{
    margin-top: 20px;
    text-align: center;
}
.contaainer3 h1{
    font-size: 40px;
}
.contaainer3 p{
    font-size: 20px;
    margin-bottom: 30px;
}
.input{
 
    width: 600px;
    height: 50px;
    margin: auto;
    background-color: aquamarine;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
}
.footer{
    margin-top: 30px;
    background: black;
    width: 100%;
    height: 10vh;
    text-align: center;
    padding: 10px;
    
}
.footer h1{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
    
}
.footer p{
    font-size: 10px;
    color: aqua;
}